.wrapper {
    text-align: center;
}

.wrapper h2 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #333;
}

.lang-toggle {
    position: relative;
    display: flex;
    width: 260px;
    height: 45px;
    background: #ddd;
    border-radius: 22px;
    overflow: hidden;
    cursor: pointer;
}

#lang-switch {
    display: none;
}

.option {
    flex: 1;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    z-index: 2;
    transition: color 0.3s;
    font-size: 15px;
    cursor: default;
}

.highlight {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    background: white;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#lang-switch:checked ~ .highlight {
    transform: translateX(100%);
}

#lang-switch:hover {
    line-height: 100px;
}

.pt {
    color: #000;
}
.en {
    color: #666;
}

#lang-switch:checked ~ .en {
    color: #000;
}
#lang-switch:checked ~ .pt {
    color: #666;
}

#lang-switch:not(:checked) ~ .en {
    cursor: pointer;
}

#lang-switch:checked ~ .pt {
    cursor: pointer;
}

/* Trocar Conteudo */
.hidden {
    display: none !important;
}

label, .wrapper h2{
    caret-color: transparent;
}